<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <header class="main-header">
        <div class="c-header">
            <div class="c-img">
                <img src="/images/logo-mercado-liebre.svg" alt="logo">
            </div>
            <form class="c-form">
                <input class="inputBuscar" type="text" value="" placeholder="Buscar productos">
                <button class="btnBuscar" type="submit"><i class="fas fa-search"></i></button>
            </form>    
            <div class="c-mensaje">
                <p class="ta-c"><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de crédito</p>
            </div>
        </div>  
        <nav id='navegacion'>
            <ul>
                <li><a href="/">Ofertas</a></li>
                <li><a href="/">Tiendas Oficiales</a></li>
                <li><a href="/">Vender</a></li>
                <li><a href="/">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="/">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <div class="c-img">
        <img class="banner" src="/images/img-home-banner.jpg" alt="banner">
    </div>
    <main>
        <div class="containerForm">
            <form class="form" action="" method="post">
                <label for="user">
                    <input class="inputForm" type="text" required name="name" id="user" placeholder="Ingresa tu Usuario">
                </label>
                <label for="password">
                    <input class="inputForm" type="password" required name="clave" id="password" placeholder="Ingresa tu Password">
                </label>
                <a href="/"><input class="enviarLogin" type="button" value="Enviar"></a>
            </form>
        </div>        
    </main>
    <footer id="footer">
        <div class="containerFooter">
            <section class="c-footer">
                <i class="fas fa-credit-card"></i>
                <p class=""><b>Paga con tarjeta</b></p>
                <p class="">Con Mercado Liebre Cash, tienes cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </section>
            <section class="c-footer">
                <i class="fas fa-gift"></i>
                <p class=""><b>Envio gratis desde $2.500</b></p>
                <p class="">Solo por estar registrad@ en Mercado Liebre tienes envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </section>
            <section class="c-footer">
                <i class="fas fa-user-shield"></i>
                <p class=""><b>Seguridad, de pricipio a fin </b></p>
                <p class="">¿No te gusta? ¡Devuelvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás simpre protegid@.
            </section>
        </div>
        <section class="copy">
            <p><b> Copyright © 1999-2020 MercadoLiebre S.R.L.</b></p>
        </section>
    </footer>
    <script src="https://kit.fontawesome.com/21b565b396.js" crossorigin="anonymous"></script>
</body>
</html>