@import url(normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* paletas de colores: 
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;
*/
*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: #ebebeb;
}
#main-section{
    width: 90%;
    margin: auto;
}
.main-header{
    background-color: #EAC926;
    padding: 20px;
}
.ta-c{
    text-align: center;
    margin-bottom: 20px;
}
h3{
    font-size: 24px;
    /* text-align: center; */
    padding: 10px;
    color: #666;
}
#navegacion{
    display: flex;
    justify-content: space-around;
}
.c-form{
    text-align: center;
}
.inputBuscar{
    line-height: 25px;
    border: 1px solid rgb(228, 224, 224);
    border-radius: 5px;
    width: 70%;
}
.btnBuscar{
    line-height: 25px;
    border: 1px solid rgb(228, 224, 224);
    border-radius: 5px;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}
ul li{
    margin: 0 10px;
}
ul li a{
    text-decoration: none;
    color: #000;
}
.c-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.c-img{
    width: 300px;
}
.c-form{
    width: 300px;
}
.c-mensaje{
    width: 300px;
}
img{
    display: block;
    width: 100%;
    height: auto;
    margin: auto;
    margin-bottom: 20px;
}
.banner{
    width: 100%;
}
.c-Productos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.precio{
    font-size: 18px;
    text-align: center;
    font-weight: bold;
}
.descuento{
    font-size: 16px;
    text-align: center;
    color: #39b54a;
}
.descripcion{
    display: block;
    font-size: 16px;
    text-align: center;
    color: rgb(63, 62, 62);
    align-self: flex-start;
    transition: opacity 600ms, visibility 600ms;
}

.c-precio{
    display: flex;
    align-items: center;
    align-self: flex-start;
    gap: 15px;
}
.articulos{
    width: 250px;
    margin: 0 10px 10px 10px;
    padding: 15px;
    border: 1px solid #ebebeb;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    
}
.c-data{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #ebebeb;
}
.aling{
    justify-self: flex-end;
    align-self: end;
    font-size: 20px;
    color: #39b54a;
    border: 1px solid #39b54a;
    border-radius: 50%;
    padding: 6px;
    transition: 0.5s;
    position: absolute;
    top: -20px;
    right: 15px;
}
.articulos:hover .aling{
    transform: rotate(-90deg);
}
.enviarLogin {
    width: 100%;
    height: 30px;
    font-weight: bold;
    border: 1px solid #666;
    border-radius: 5px;
    margin-top: 20px;
}
.enviarLogin:hover{
    background-color:#0022AA;
    color: white;
    outline: none;
    border: 1px solid #ebebeb;
    border-radius: 5px;
}
.burger-menu{
    display: none;
}
#footer{
    margin-top: 20px;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
} 
.containerFooter{
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
}
.c-footer{
    width: 250px;
    margin: 30px 0px;
}
.c-footer i{
    font-size: 2em;
    margin-bottom: 10px;
    color: #0022AA;
}
.copy{
    margin: 0 0 20px 10px;
}

/* Regitro */
.containerForm{
    overflow: auto;
    width: 55%;
    min-width: 310px;
    margin: auto;
}
.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: white;
    margin: auto;
    padding: 20px;
    /* text-align: center; */
    border-radius: 5px;
    /* line-height: 2; */
}
.form label{
    width: 100%;
    margin: 15px 0px;
}
.inputForm{
    width: 100%;
    height: 30px;
    border-radius: 6px;
    border: 1px solid #ebebeb;
    outline: none;
}
.intereses{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.perfilUser{
    display: flex;
    text-align: center;
    justify-content: center;
}
.styleTitle{
    font-size: 0.9rem;
    font-weight: bold;
}
.c-btn{
    display: flex;
    text-align: center;
}
.c-btn input {
    width: 63px;
    height: 30px;
    font-weight: bold;
    border: 1px solid #666;
    border-radius: 5px;
}
.c-btn input:hover{
    background-color:#0022AA;
    color: white;
    outline: none;
    border: 1px solid #ebebeb;
    border-radius: 5px;
}
/* Medias */
@media (max-width: 769px){
    .c-header{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .c-header .c-img{
        width: 50%;
    }
    .c-header .c-form{
        width: 50%;
    }
    .inputBuscar{
        width: 80%;
    }
    #navegacion{
        display: none;
    }
    .burger-menu{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background-color:#0022AA; ;
        color:#ebebeb;
        margin: 0px auto;
        border-radius: 5px;
    }
    .articulos:hover .descripcion{
        display: inherit;
        transition: opacity 2s linear;
    }
    .articulos{
        box-shadow: unset;
    }
    .articulos:hover{
        box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    }
    .descripcion{
        display: none;
    }    
    
    .c-form{
        position: relative;
    }
    .btnBuscar{
        position: absolute;
        top: 1px;
        right: 10%;
        background-color: white;
        border: none;
    }
    .inputBuscar:focus{
        border-color: #ebebeb;
        outline: none;
    }
}
@media (max-width: 361px){
    .inputBuscar{
        width: 70%;
    }
}